<div class="body">
 
  
  <div class="slide-container">

    <div class="title">Purchased tours</div>
  <div class="flexCol">
      

    <button class="startTour" [disabled]="selectedTours.length < 2" (click)="createComposite()">Connect these tours</button>
    
    <div class="slide-content">

      <div class="card-wrapper">
        <button *ngFor="let tour of publishedTours" (click)="selectTour(tour)">
        <div class="card">

          

          <div class="card-content">
            <h2 class="name">{{ tour.name }}</h2>

            <div class="desc-container">
              <p class="description">{{ tour.description }}</p>
            </div>

            <div class="card-footer">
              <div class="price">
                <p class="price-text">Price</p>
                <p class="price-number">{{ tour.price }}$</p>
              </div>

            </div>
            <button class="startTour" (click)="startTour(tour.id)">
              Start tour
            </button>

            <button class="startTour" (click)="reviewTour(tour.id)">
              Give review
            </button>

            <button class="startTour" (click)="getTourReviewsByTourID(tour.id)">
              See reviews
            </button>
          </div>

        </div>
        </button>
      </div>
    </div>
    
  </div>
</div>


</div>

<div *ngIf="showForm" class="formDiv">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="reviewForm">
    <mat-form-field appearance="fill">
      <mat-label>Rate</mat-label>
      <mat-select formControlName="rating" required>
        <mat-option *ngFor="let rating of ratings" [value]="rating">{{ rating }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Comment</mat-label>
      <textarea matInput formControlName="comment" rows="5" required></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Image URL</mat-label>
      <input matInput formControlName="imageUrl" type="text" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Visit date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="visitDate" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="submitButton">Submit</button>
  </form>
</div>

<div class="reviewList" *ngIf="showReviewList">
  <div *ngFor="let review of tourReviews" class="review-container">
    <div class="reviewText">
      <div class="rating">Rating: {{ review.rating }}</div>
      <div class="comment">Comment: {{ review.comment }}</div>
      <div class="visitDate">Visit Date: {{ review.visitDate | date:'mediumDate' }}</div>
      <div class="commentDate">Comment Date: {{ review.commentDate | date:'mediumDate' }}</div>
    </div>
    <div class="reviewImage">
      <img [src]="review.imageURL" alt="Review Image" />
    </div>
  </div>
</div>